{:tasks {dev (clojure "-M:repl:xtdb:datomic")
         test (clojure "-M:test:xtdb:datomic --watch")
         test:once (clojure "-M:test:xtdb:datomic")
         test:coverage (clojure "-M:test:xtdb:datomic:coverage")

         quickdoc {:doc "Invoke quickdoc"
                   :extra-deps {io.github.borkdude/quickdoc {:git/sha "7c8bef54eda28367193ec433af01bb940114f012"}}
                   :task (exec 'quickdoc.api/quickdoc)
                   :exec-args {:git/branch "master"
                               :github/repo "https://github.com/dundalek/daba"
                               :source-paths ["components/core/src/daba/api.clj"]
                               :outfile "doc/API.md"}}}}
